<template>
  <div class="fullscreen">
      <b-modal ref="gameEnd" v-on:hidden="hideGameEnd" centered hide-footer hide-header no-fade no-close-on-backdrop no-close-on-esc>
        <slot name="result" />
      </b-modal>
      <div class="container-fluid game-counter">
        <b-row align-v="center" align-h="between" class="header-jeu">
          <b-col class="text-left header-btn" lg="2" md="2" sm="2" cols="4">
            <button type="button" class="btn back-link" aria-label="Close" @click="back()">
              Retour
            </button>
          </b-col>
          <slot name="header" />
        </b-row>
      </div>
      <div class="game-content" id="main-content">
        <slot></slot>
      </div>
  </div>
</template>

<script>
export default {
  props: {
    resultHidden: Function,
  },
  methods: {
    hideGameEnd() {
      return this.resultHidden && this.resultHidden();
    },
    showResult() {
      this.$refs.gameEnd.show();
    },
    hideResult() {
      this.$refs.gameEnd.hide();
    },
    back() {
      window.history.back();
    }
  }
};
</script>


<style lang="scss">
@import "../../assets/scss/colors.scss";
.fullscreen {
  position: relative;
  width: 100%;
  min-height: 100%;
  z-index: 100; 
}
.header-jeu {
  height: 80px;
  width: 100%;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
  position: fixed;
  background-color: $neutral-blue;
  z-index: 99;
}
.game-counter {
  position:fixed;
  min-height: 80px;
  z-index: 1000;
  background-color: $neutral-blue;
  padding-bottom: 10px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  color: white;
  font-size: 1.4em;
  @media screen and (max-width: 576px) {
    font-size: 1.2em;
  }

  .back-link {
    color: $ultra-light-grey;
    font-weight: 400;
    background-color: transparent;
    &:hover {
      text-decoration: underline;
      color: $ultra-light-grey;
    }
  }
}
.game-content{
  padding-top:80px;
}
#main-content{
  z-index:100;
}
.header-btn {
  @media screen and (max-width: 576px) {
    width: fit-content !important;
    padding: 0px !important;
    flex: 0 0 0% !important;
  }
}

</style>
