/*COLORS VARIABLES*/
$light-blue: #00dbcb;
$neutral-blue: #0a5e5c;
$dark-blue:#02786f;
$neutral-yellow:#ffce00;
$dark-grey:#3b3f3f;
$neutral-grey:#515254;
$light-grey:#aac1c0;
$ultra-light-grey:#f1f1f1;