 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,800,800i,900,900i');
 @import '~bootstrap/scss/bootstrap';
 @import 'colors';
 @import 'buttons';

body {
  font-family:'Montserrat', sans-serif;
  color: $dark-grey;
  height: 100%;
  position: relative;

  @media screen and (max-width: 420px) {
    font-size: 0.9rem;
    }
  }

.btn{
  @media screen and (max-width: 420px) {
    font-size: 0.9rem;
    }
}
.wrapper{
  padding-top: 80px;
  min-height: 100%;
  position: relative;
}

.title_level_3{
  font-weight:900;
  font-size:1.8em;
  margin-left: 3px;
}

.title_level_3::after{
  content: '';
  display: block;
  height: 1px;
  width: 12%;
  text-align: center;
  position: absolute;
  left: 44%;
  margin-top: 13px;
}
h1{
  font-size:250%;
  @media screen and (max-width: 420px) {
    font-size: 200%;
  }
}
h2{
  font-size:180%;
}
h3{
  font-size:150%;
}
h4{
  font-size:120%;
}


/*****************************************************************************/
/*** POPUP ********************************************************************/
.modal-backdrop {
  opacity:0.8 !important;
}
.modal-dialog{
  @media screen and (min-width: 576px) {
    max-width: 760px;
  }
  .modal-content {
    border-radius: 15px;
  }
  .modal-body{
    .content{
      padding-top:50px;
      padding-bottom:50px;
      width: 80%;
      @media screen and (max-width: 575px) {
        width: 90%;
        padding-top:30px;
        padding-bottom:30px;
        text-align: center;
        img{
          max-width: 250px;
        }
      }
    }
    h1{
      color:$dark-grey;
      font-weight:600;
      font-size:170%;
      margin-bottom:30px;
    }
    h2{
      color:$dark-grey;
      font-weight:600;
      font-size:120%;
      margin-bottom:30px;
    }
    p{
      color:$dark-grey;
      font-weight:500;
      font-size:100%;
      margin-bottom:20px;
    }
    .bold{
      font-weight:600;
      font-size:100%;
      line-height:1.2em;
    }
    button.primary-btn{
      @extend %action-button;
    }

    button.retry-btn {
      @extend %secondary-action-button;
      width: auto;
    }
  }
}
