<template>
  <div id="projet">
    <projet-header></projet-header>
    <projet-context></projet-context>
    <projet-footer></projet-footer>
    <main role="main">
      <router-view/>
      <credits></credits>
    </main>
  </div>
</template>

<script>
import projetHeader from '../Header.vue';
import projetContext from './Context.vue';
import projetFooter from './Footer.vue';
import Credits from '../Credits.vue'

export default {
  name: "projet",
  components: {
    Credits,
    projetHeader,
    projetContext,
    projetFooter,
  }
};
</script>
