<template>
  <div>
    <div class="row content justify-content-center m-auto rule-title">
      <h1>La cerise sur le gâteau&nbsp;!</h1>  
    </div>
    <div class="row content m-auto rule-content">
      <p>
        <b>Aide Dina qui est gourmande... </b> mais allergique aux cerises&nbsp;! 
      </p>
      <p>
        Il y a 6 paquets gâteaux à inspecter.  <b> Clique sur les gâteaux à la cerise pour les retirer du lot. </b> 
      </p>
      <p>
        Ouvre l'oeil et sois rapide, car Dina a très très faim...
        Bonne chance&nbsp;!
      </p>
      <div class="col-xs-12 col-md-6 text-center">
        <b-row >
          <img class="illust" src="../../../assets/img/rule-cherry.png" height=100 alt=""/>
        </b-row>
      </div>
      <div class="texte col-xs-12 col-md-6"> 
        <p>À toi de jouer&nbsp;! Prêt, feu, partez&nbsp;!</p>
        <b-btn @click="play" class="primary-btn">Jouer</b-btn>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "cherryRule",
  methods: {
    play() {
      this.$router.push("/game/CherryOnTheCake");
    }
  }
};
</script>
<style lang="scss">
.illust{
  margin:auto;
  margin-top:2rem;
}

</style>