<template>
  <principle principle="Gestion des erreurs" game="charade" gameName="Huuum Charade" nextGame="CherryOnTheCake" bigTitle="true">
    <div class="intro">
      <h2 class="section-titles">Le critère "Gestion des erreurs" est décrit ainsi par Bastien & Scapin (1993)&#8239;*&#8239;:</h2>
      <blockquote class="quote">
        "Moyens permettant d'une part d'éviter ou de réduire les erreurs, d'autre part de les corriger lorsqu'elles surviennent."
      </blockquote>
    </div>

    <b-row class="justify-content-center align-items-center theory-container row-margin">
      <b-col lg="9" md="7" sm="12">     
        <div class="details-section">
          <h2 class="section-titles">Application de la loi </h2>
          <p>La gestion des erreurs s'articule autour de trois axes&#8239;:</p>
          <ul class="list">
            <li> <b>Protection des erreur&nbsp;:</b> des éléments de guidage doivent être mis en place pour prévenir les erreurs, et celles-ci doivent être détectées le plus tôt possible.</li>
            <li> <b> Qualité des messages d'erreurs&nbsp;:</b> le message informant l'utilisateur qu'une erreur s'est produite doit être pertinent, facile à lire et exact.</li>
            <li> <b>Correction des erreurs&nbsp;:</b> une erreur doit toujours pouvoir se corriger facilement. </li>
          </ul>
        </div>
      </b-col>
      <b-col lg="3" md="5" sm="12" class="image illustration-container">
        <div class="illustration">
          <label for="inputLiveRight">Date de naissance (jj/mm/aaaa)</label>
          <b-form-input 
            id="inputLiveRight"
            type="text"
            :state="false"
            aria-describedby="inputLiveFeedback"
            placeholder="12 janvier 1982"
            disabled>
          </b-form-input>
          <b-form-invalid-feedback id="inputLiveFeedback">
            Le format attendu est le suivant&#8239;: jj/mm/aaaaa, par exemple 30/10/1955
          </b-form-invalid-feedback>
        </div>
        <b-row class="justify-content-center align-items-centerlegend">
          <font-awesome-icon :icon="rightIcon" class="valid-icon" size="2x" />
          <span>
            Bonne pratique
          </span>
        </b-row>
      </b-col>
    </b-row>

    <b-row class="justify-content-center align-items-center theory-container row-margin">
      <b-col lg="9" md="7" sm="12">
        <div class="details-section">
          <p>Malheureusement, il n'est pas rare d'être confronté à un formulaire qui gère mal les erreurs, par exemple&#8239;:</p>
          <ul class="list">
            <li> Restrictions non indiquées quand on choisit un mot de passe.</li>
            <li> Messages d'erreur composés de mots incompréhensibles pour les utilisateurs, tels que "request", "XML", ou encore "Javascript". </li>
            <li> Manque  de visibilité sur la localisation de l'erreur dans le formulaire. </li>
          </ul>
        </div>
      </b-col>
      <b-col lg="3" md="5" sm="12" class="image illustration-container">
        <div class="illustration">
          <label for="inputLiveWrong">Date de naissance </label>
          <b-form-input 
            id="inputLiveWrong"
            type="text"
            placeholder="12 janvier 1982"
            disabled>
          </b-form-input>
          <b-alert variant="danger" show>
            Error
          </b-alert>
        </div>
        <b-row  class="justify-content-center align-items-center">
          <font-awesome-icon :icon="wrongIcon" class="invalid-icon" size="2x" />
          <span>
            Mauvaise pratique
          </span>
        </b-row>
      </b-col>
    </b-row>
    <div class="closing intro">
          <p> Le principe semble simple et pourtant, combien de fois avez-vous dû chercher un champ obligatoire que vous aviez oublié de remplir dans un formulaire&nbsp;? </p>
    </div>
   

    <template slot="game-explanation">
      <b-row class="explanation first-rows">
        <b-col sm="12" md="7" lg="5">
            <b-row class="illustration-container">
              <b-col class="text-center img-exemple">
                <div> 
                  <img src="../../assets/img/principles/erreur1.png" class="img-exemple" alt="extrait du champ à saisir dans le premier jeu">
                </div> 
              </b-col>
            </b-row>
            <b-row class="justify-content-center align-items-center legend">
              <font-awesome-icon :icon="wrongIcon" class="invalid-icon" size="2x" />
              <span>
                Mauvaise pratique
              </span>
            </b-row>
        </b-col>
        <b-col sm="12" md="5" lg="7" class="explanation-text">
          <div>
            Dans le 1er jeu, le critère gestion des erreurs n’est pas respecté car&#8239;:
              <ul>
                <li>aucun élément ne permet de prévenir l'erreur,</li>
                <li>le message d'erreur ne permet pas de comprendre l'origine de l'erreur,</li>
                <li>la correction est impossible&#8239;: on ne peut modifier la réponse.</li>
              </ul>
          </div>
        </b-col>
      </b-row>

      <b-row class = "explanation">
          <b-col sm="12" md="7" lg="5">
            <b-row>
              <b-col class="text-center img-exemple">
                <div>
                  <img src="../../assets/img/principles/erreur2.png" class="img-exemple" alt="extrait du champ à saisir dans le second jeu">
                </div>
              </b-col>
            </b-row>
            <b-row class="justify-content-center align-items-center legend">
              <font-awesome-icon :icon="rightIcon" class="valid-icon" size="2x" />
              <span>
                Bonne pratique
              </span>
            </b-row>
          </b-col>
          <b-col sm="12" md="5" lg="7" class="explanation-text">
            <div>
              <p>Pour fluidifier l’expérience, comme c’est le cas dans le 2nd jeu, il suffit&#8239;:</p>
              <ul>
                <li> d'indiquer le format attendu et de procéder à une vérification automatique du format pour prévenir l'erreur,</li>
                <li>de détailler l'origine du problème en cas d'erreur, dans notre cas en donnant un exemple du format attendu,</li>
                <li>d'autoriser la correction une fois l'erreur expliquée. </li> 
              </ul>
            </div>
          </b-col>
      </b-row>
    </template>

    <template slot="note">
      <div class="reference">
        <div>
          * Référence&#8239;: Critères Ergonomiques pour l'Évaluation d'Interfaces Utilisateurs (version 2.1), J.
          M. Christian Bastien and Dominique L. Scapin, INRIA, Technical report N° 156 Mai 1993
            <a href="https://hal.inria.fr/inria-00070012" target="_blank" rel="noopener noreferrer">[Accès document complet - Site web INRIA]</a>
        </div>
        <div>
          Dans cet article, les éléments de guidage permettant de réduire le risque d'erreur (format de date par exemple) ne font pas 
          partie du sous-critère Protection contre les erreurs mais du sous-critère Incitation. Néanmoins, nous estimons que cela participe 
          à la protection contre les erreurs, et avons donc choisi de le présenter ici.
        </div>
      </div>
    </template>
  </principle>
</template>

<script>
import Principle from "./Principle.vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faCheck } from "@fortawesome/free-solid-svg-icons";
import { faTimes } from "@fortawesome/free-solid-svg-icons";

export default {
  name: "ErrorHandlingPrinciple",
  components: {
    Principle,
    FontAwesomeIcon
  },
  computed: {
    rightIcon() {
      return faCheck;
    },
    wrongIcon() {
      return faTimes;
    }
  }
};
</script>

<style lang="scss">
@import '../../assets/scss/colors';
@import '../../assets/scss/zones';
.alert {
  padding: 0 0 0 5px !important;
}
#inputLiveWrong:disabled,
#inputLiveRight:disabled {
  background-color: white;
}

.legende-exemple {
  margin-bottom: 20 px;
}


</style>
