<template>
  <principle principle="Loi de Fitts" game="poulpe" gameName="Sauve qui peut !">
    <div class="intro">
      <h2 class="section-titles">La loi de Fitts est énoncée comme ceci par Paul Fitts en 1954&nbsp;:</h2>
      <blockquote class="quote">
        "Le temps requis pour atteindre une cible est proportionnel à la distance entre le point de départ et la cible, et inversement proportionnel à la taille de la zone de destination."
      </blockquote>
    </div>
    <b-row class="justify-content-center align-items-center theory-container row-margin">
      <b-col lg="9" md="7" sm="12">     
        <div class="details-section">
          <h2 class="section-titles">Application de la loi </h2>
          <p class="section-highlight">Quand on conçoit un écran, les fonctions les plus utilisées doivent être rapidement accessibles et donc de taille respectable et proches de l’action précédente. </p>
          <p class="content-explanation">
            En revanche, une fonctionnalité rarement utilisée ou d'utilisation risquée (comme un bouton de suppression définitive par exemple) pourra être plus éloigné de la zone d'action principale. 
          </p>
          <p class="content-explanation">  
            En effet, ce modèle mathématique qui étudie le mouvement humain nous indique que&nbsp;: 
            <ul class="list">  
              <li><b>plus la cible est petite et lointaine</b>, plus le temps nécessaire pour la pointer est long&nbsp;;</li>
              <li><b>plus la cible est grande et proche</b>, plus le temps nécessaire pour la pointer est court.*</li>
            </ul>
          <br>Dans l'exemple "Bonne pratique" que nous vous proposons ici, le bouton d'action se situe juste en dessous du dernier champ à saisir. Cette loi est valable aussi bien dans le monde physique, avec par exemple l'apparition des boutons de réglage de la radio sur la volant pour diminuer la distance à parcourir et le temps nécessaire à baisser ou augmenter le son.
          </p>
        </div>
      </b-col>
      <b-col lg="3" md="5" sm="12" class="image illustration-container">
        <div class="illustration text-left">
          <img src="../../assets/img/arrow1.png" alt="fleche entre le champ et le bouton" class="arrow1"/>
          <label >Passagère 1</label>
          <b-form-input class="input-form"
            type="text"
            value="Johana"
            disabled>
          </b-form-input>
          <label>Passagère 2</label>
          <b-form-input class="input-form"
            type="text"
            value="Lenù"
            disabled>
          </b-form-input>
          <b-button class="button-validation add-button" disabled>
            Ajouter une passagère
          </b-button>
        </div>
        <b-row class="justify-content-center align-items-center row-margin">
          <font-awesome-icon :icon="rightIcon" class="valid-icon" size="2x" />
          <span>
            Bonne pratique
          </span>
        </b-row>
      </b-col>
    </b-row>
    <b-row class="justify-content-center align-items-center theory-container row-margin">
      <b-col lg="9" md="7" sm="12">   
        <div class="details-section">
          <p>Malheureusement, il n'est pas rare que ce principe soit enfreint, par exemple&nbsp;:</p>
          <ul class="list">
            <li>un bouton pour ajouter un élément à une liste de valeurs, petit et éloigné de la dernière saisie (exemple illustré ci-contre)&nbsp;;</li>
            <li>un bouton de validation de formulaire très éloigné de la zone de saisie&nbsp;;</li>
            <li>une barre d'ascenseur trop fine. </li>
          </ul>
        </div>
      </b-col>
       <b-col lg="3" md="5" sm="12" class="image illustration-container">
        <div class="illustration text-left">
          <img src="../../assets/img/arrow2.png" alt="fleche entre le champ et le bouton" class="arrow2"/>
          <div class= "text-right">
            <b-button disabled class="add-button">
                +   
            </b-button>
          </div>
          <label>Passagère 1</label>
          <b-form-input class="input-form"
            type="text"
            value="Johana"
            disabled>
          </b-form-input>
          <label>Passagère 2</label>
          <b-form-input class="input-form"
            type="text"
            value="Lenù"
            disabled>
          </b-form-input>
        </div>
        <b-row  class="justify-content-center align-items-center">
          <font-awesome-icon :icon="wrongIcon" class="invalid-icon" size="2x" />
          <span>
            Mauvaise pratique
          </span>
        </b-row>
      </b-col>
    </b-row>
    <div class="closing">
      <p>Le principe semble simple et pourtant combien de fois avez-vous dû faire des aller-retours avec la souris entre deux zones trop éloignées&nbsp;? </p>
    </div>

    <template slot="game-explanation">
      <b-row  class="explanation first-rows">
        <b-col lg="4" md="5" sm="12">
          <b-row class="illustration-container">
            <b-col class="text-center img-exemple">
              <div>
                <img class="game-illustration-img" src="../../assets/img/principles/Fitts-version1.png" alt="capture d'écran du jeu"/>
              </div>
            </b-col>
          </b-row>
          <b-row  class="justify-content-center align-items-center">
          <font-awesome-icon :icon="wrongIcon" class="invalid-icon" size="2x" />
          <span>
            Mauvaise pratique
          </span>
        </b-row>
        </b-col>
        <b-col lg="8" md="7" sm="12" class="explanation-text">
          <div>
            <p> Dans la première version du jeu, la loi de Fitts n’est pas respectée car les animaux sont petits et positionnés loin de l'eau claire, alors que l'action est fréquente et ne provoque pas d'action risquée, elle devrait donc être facilitée. Cliquer précisément sur ces cibles demande plus de temps et d’attention et peut être source de frustration car une tâche simple prend plus de temps qu’elle ne devrait. </p>
          </div>          
        </b-col>
      </b-row>
      <b-row  class="explanation first-rows">
        <b-col lg="4" md="5" sm="12">
          <b-row class="illustration-container">
            <b-col class="text-center img-exemple">
              <div>
                <img class="game-illustration-img" src="../../assets/img/principles/Fitts-version2.png" alt="capture d'écran du jeu"/>
              </div>
            </b-col>
          </b-row>
          <b-row  class="justify-content-center align-items-center">
          <font-awesome-icon :icon="rightIcon" class="valid-icon" size="2x" />
          <span>
            Bonne pratique
          </span>
        </b-row>
        </b-col>
        <b-col lg="8" md="7" sm="12" class="explanation-text">
          <div>
            <p> Pour simplifier l’expérience et améliorer le score (= le temps de réalisation de la tâche), il suffit d’augmenter la taille des animaux et la surface de l'eau claire, et de rapprocher ces deux élements, comme c’est le cas dans le 2nd jeu. </p>
          </div>          
        </b-col>
      </b-row>
    </template> 
    

      
    <template slot="note">
      <div class="reference">
        * Référence&#8239;: Fitts, Paul M. (1954): The Information Capacity of the Human Motor System in Controlling the Amplitude of Movement. In Journal of Experimental Psychology, 47 pp. 381-391
      </div>
    </template>
    
  </principle>
  
</template>

<script>
import Principle from "./Principle.vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faCheck } from "@fortawesome/free-solid-svg-icons";
import { faTimes } from "@fortawesome/free-solid-svg-icons";
export default {
  name: "FittsPrinciple",
  props: {
    nextGame: String,
  },
  components: {
    Principle,
    FontAwesomeIcon
  },
  computed: {
    rightIcon() {
      return faCheck;
    },
    wrongIcon() {
      return faTimes;
    }
 
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/colors";
@import "../../assets/scss/buttons";
@import "../../assets/scss/zones";





li{
  margin-top: 5px;
}

.arrow1{
  position: absolute;
  width: 20px;
  bottom: 110px;
  left: 15px;
}
.arrow2{
  position: absolute;
  width: 20px;
  bottom: 110px;
  right: 40px;
}
.input-form {
margin-bottom: 10px;
text-align: left;
}

.button-validation{
margin-top:10px;
width: 100%;
}

.btn-secondary.disabled.add-button, .btn-secondary:disabled.add-button{
  // border: 5px outset #0a5e5c;
  font-size:0.9rem;
}

.principle-content .illustration-container img {
  max-width: 100%;
}

.game-illustration-img {
  width: 80%;
}


</style>
