<template>
  <principle principle="Loi de Hick" game="CherryOnTheCake" gameName="La cerise sur le gâteau" nextGame="pizzas">
    <div class="intro">
      <p>La loi de Hick, ou loi de Hick-Hyman, est un modèle qui décrit le temps qu’il faut à un utilisateur pour prendre une décision en fonction du nombre de choix à sa disposition. <b>Cette loi précise que plus l'utilisateur a de choix et plus il lui faudra de temps pour prendre une décision.</b>*</p>
    </div>



    <b-row class="justify-content-center align-items-center theory-container row-margin">
      <b-col lg="8" md="7" sm="12">     
        <div class="details-section">
          <h2 class="section-titles">Application de la loi </h2>
            <p class="section-highlight">La principale bonne pratique à tirer de cette loi est d'<b>éviter de proposer trop de choix</b>, sans quoi les utilisateurs et utilisatrices de notre outil seront vite perdus.</p>
            <p class="content-explanation">Le graphique à droite montre que la relation entre le nombre de choix et le temps de réponse est logarithmique&nbsp;:
              <ul class="list">
                <li>si l'on ajoute une option à un menu de 2 options le temps va être considérablement augmenté&nbsp;; </li>
                <li>en revanche, si l'on ajoute une option à un menu qui a 30 options, le temps nécessaire pour prendre une décision sera certes augmenté mais de peu, la relation n'étant pas linéaire. </li>
              </ul>
              L'hypothèse généralement proposée pour expliquer la forme logarithmique de la loi de Hick suppose que les gens divisent le nombre total de choix en catégories. Ainsi, ils éliminent environ la moitié des options restantes à chaque étape, au lieu de considérer chaque choix un par un (ce qui requerrait un temps linéaire). 
            </p>
        </div>
      </b-col>
      <b-col lg="4" md="5" sm="12" class="image illustration-container">
        <div>
          <img class="illustration" src="../../assets/img/principles/hick.png" alt="graphique de la relation : le temps de réponse T est égal à b fois le log binaire du nombre de choix plus 1, avec b une constante dépendant du contexte"/>
        </div>
        <b-row class="justify-content-center align-items-center row-margin">
          <span>
            Tendance logarithmique de la loi de Hick
          </span>
        </b-row>
      </b-col>
    </b-row>

    <b-row class="justify-content-center align-items-center theory-container row-margin">
      <b-col lg="8" md="7" sm="12">   
        <div class="details-section">
          <p class="content-explanation">Ce principe s'applique en ergonomie numérique dans différents cas de figure&nbsp;:
            <ul class="list">
              <li>si le nombre d'éléments à placer dans un menu est grand, il faudra <b>privilégier une arborescence</b> pour n'afficher qu'un faible nombre de choix à la fois (on utilisera notamment la méthode de tri de cartes pour construire cette arborescence)&nbsp;;</li>
              <li>pour un site e-commerce présentant un nombre important de produits, il faudra <b>prévoir des filtres</b> pour réduire la liste&nbsp;;</li>
              <li>pour un tableau de bord de commandes, si le temps de réaction est important il faudra <b>réduire au maximum le nombre de commandes</b> disponibles pour accélérer la prise de décision et réduire le risque d'erreur.</li>
            </ul>
          </p>  
        </div>
      </b-col>
      <b-col lg="4" md="5" sm="12" class="image illustration-container">
        <div>
          <img class="illustration" src="../../assets/img/principles/hick2.png" alt="Illustration d'un choix entre 8 labels dans un même menu versus un choix entre 2 menus suivi d'un choix entre 4 labels"/>
        </div>
        <b-row  class="justify-content-center align-items-center">
          <span>
            Privilégier les arborescences
          </span>
        </b-row>
      </b-col>
    </b-row>
    <div class="closing intro">
      <p>Le principe semble simple et pourtant, combien de fois avez-vous dû chercher de longues minutes un lien dans une longue liste&nbsp;?</p>
    </div>

    <template slot="game-explanation">
      <b-row  class="explanation first-rows">
        <b-col lg="4" md="5" sm="12">
          <b-row class="illustration-container">
            <b-col class="text-center img-exemple">
              <div>
                <img src="../../assets/img/principles/cupcake-illustration-principe.png" alt="capture d'écran du jeu"/>
              </div>
            </b-col>
          </b-row>
        </b-col>
        <b-col lg="8" md="7" sm="12" class="explanation-text">
          <div>
            <p>Les deux versions des jeux présentent le même nombre de pages (6) mais avec un nombre différent de gâteaux par page&nbsp;: 2 par page dans le 1er jeu et 9 dans le second.</p>
            <p>Il faut plus de temps pour trouver le gâteau à la cerise parmi 9 gâteaux que parmi 2 car vous devez observer les gâteaux un par un pour le trouver.</p>
            <div class="section-highlight">
              <p><b> Remarque :</b> nous n'avons pas essayé ici de démontrer l'effet logarithmique car&#8239;:<br></p>
              <ul>
                <li>le fait de regrouper les choix en catégories ne fonctionne peut-être pas très bien dans cet exemple&nbsp;;</li> 
                <li>il faudrait probablement un grand nombre de répétitions pour montrer un tel effet&nbsp;;</li>
                <li>l'élément le plus important à démontrer pour nous est l'augmentation du temps avec l'augmentation du nombre de choix.</li>
              </ul>
            </div>
          </div>        
        </b-col>    
      </b-row>
    </template>

    <template slot="note">
      <div class="reference">
        * À noter tout de même, il semble que la loi de Hick ne s'applique qu'avec des choix simples, presque automatiques. Dans un contexte complexe, la loi de Hick ne s'applique pas car ces décisions impliquent en plus des lectures, des recherches et des capacités de réflexion et de résolution de problèmes.<br>
        Référence&#8239;: 
        <ul>
          <li>Hick, William E.; On the rate of gain of information. Quarterly Journal of Experimental Psychology, 4:11-26, 1952.</li> <a href="https://journals.sagepub.com/doi/pdf/10.1080/17470215208416600" target="_blank" rel="noopener noreferrer">[Accès document complet]</a>
          <li>Hyman, Ray; Stimulus information as a determinant of reaction time. Journal of Experimental Psychology, 45:188-196, 1953.</li><a href="https://pdfs.semanticscholar.org/2d69/465216148628336f4ae6de8e53a682b46da8.pdf" target="_blank" rel="noopener noreferrer">[Accès document complet]</a>
        </ul>
      </div>
    </template>
  </principle>
</template>

<script>
import Principle from "./Principle.vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faCheck } from "@fortawesome/free-solid-svg-icons";
import { faTimes } from "@fortawesome/free-solid-svg-icons";
export default {
  name: "HickPrinciple",
  components: {
    Principle,
    FontAwesomeIcon
  },
  computed: {
    rightIcon() {
      return faCheck;
    },
    wrongIcon() {
      return faTimes;
    }
  }
};
</script>

<style lang="scss" scoped>

.intro {
    max-width: 740px;
}

.right {
  color: blue;
  text-decoration: underline;
}
.wrong-1 {
  color: grey;
  font-weight: bold;
  font-size: 0.5rem;
}
.wrong-2 {
  color: red;
  text-decoration: underline;
}
.wrong-3 {
  color: green;
}

.principle-content .illustration-container img {
  max-width: 100%;
}

.graph-container {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 450px;
}
</style>
