<template>
  <div class="principle-wrapper">
    <closable-modal ref="catchThemAll">
      <catch-them-all-rule></catch-them-all-rule>
    </closable-modal>
    <closable-modal ref="charade">
      <charade-rule></charade-rule>
    </closable-modal>
     <closable-modal ref="CherryOnTheCake">
      <cherry-rule></cherry-rule>
    </closable-modal>
    <closable-modal ref="pizzas">
      <pizzas-rule></pizzas-rule>
    </closable-modal>
    <closable-modal ref="poulpe">
      <poulpe-rule></poulpe-rule>
    </closable-modal>

    <!-- HEADER -->
    <home-header></home-header>
    <b-navbar class="principles-header">
      <b-container>
        <b-navbar-nav class="principles-navbar">
          <b-nav-item to="/principles" class="principle-back-link mr-4">
            <font-awesome-icon :icon="angleLeftIcon" class="mr-1" />Liste des principes
          </b-nav-item>
          <b-nav-text class="principle-title">{{ principle }}</b-nav-text>
        </b-navbar-nav>
      </b-container>
    </b-navbar>

    <!-- CONTENT -->
    <div class="principle-content">
      <div class="not-play-yet-banner">
        <b-container class="d-flex justify-content-end align-items-center">
          <div class="not-play-yet">Pas encore testé le jeu illustrant ce principe&nbsp;?</div>
          <div>
            <b-button id="gameBtn" @click="() => this.$refs[game].show()">Jouer au jeu<i class="arrow right"></i></b-button>
          </div>
        </b-container>
      </div>
      <b-container>
        <!-- PRINCIPLE CONTENT INSERTION VIA SLOT -->
        <slot></slot>
      </b-container>
    </div>
    <div class="principle-game">
      <b-container>
        <div class="text-center">
          <b-btn v-b-toggle.explanation id="gameExplanationLink" class="btn-link">
            <span class="when-opened"><font-awesome-icon :icon="angleUpIcon" class="mr-1" /> Cacher</span>
            <span class="when-closed"><font-awesome-icon :icon="angleDownIcon" class="mr-1" /> Voir</span> l'explication du jeu</b-btn>
        </div>
        <b-collapse id="explanation" class="mt-2 explanation" @shown="displayExplanation">
          <b-card>
            <slot name="game-explanation"></slot>
          </b-card>
        </b-collapse>
        <slot name="note"></slot>
        <div class="pt-3" v-if="nextGame">
          <b-button id="nextGameBtn" @click="() => this.$refs[nextGame].show()">Jouer au jeu suivant <i class="arrow right"></i></b-button>
        </div>
        <div class="pt-3" v-else>
          <router-link  id="nextGameBtn" to="/#games">Retourner aux jeux</router-link>
        </div>
      </b-container>
    </div>
    <div class="footer">
      <b-container class="tell-us d-flex flex-row justify-content-center align-items-center">
        <font-awesome-icon :icon="twitter" size="2x" class="mr-2" />
        <div>Utilisez <a href="https://twitter.com/hashtag/ergogames" target="_blank" rel="noopener noreferrer"><b>#Ergogames</b></a> sur Twitter pour nous raconter vos expériences avec ce principe d'ergonomie&nbsp;!
        </div>
      </b-container>
    </div>
    <main role="main">
      <router-view/>
      <credits></credits>
    </main>
  </div>
</template>

<script>
import Credits from '../Credits.vue';
import ClosableModal from '../games/ClosableModal.vue';
import CatchThemAllRule from "../games/catchThemAll/Rule.vue";
import CharadeRule from "../games/charade/Rule.vue";
import CherryRule from "../games/CherryOnTheCake/Rule.vue";
import PizzasRule from "../games/pizzas/Rule.vue";
import PoulpeRule from "../games/poulpe/Rule.vue";

import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faTwitterSquare } from "@fortawesome//free-brands-svg-icons";
import { faAngleLeft } from "@fortawesome/free-solid-svg-icons";
import { faAngleUp } from "@fortawesome/free-solid-svg-icons";
import { faAngleDown } from "@fortawesome/free-solid-svg-icons";
import HomeHeader from '../Header.vue';

export default {
  name: "Principle",
  props: {
    principle: String,
    game: String,
    nextGame: String,
    gameName: String
  },
  components: {
    HomeHeader,
    Credits,
    ClosableModal,
    CatchThemAllRule,
    CharadeRule,
    CherryRule,
    PizzasRule,
    PoulpeRule,
    FontAwesomeIcon
  },
  data() {
    return {
      twitter: faTwitterSquare,
      angleLeftIcon: faAngleLeft,
      angleUpIcon: faAngleUp,
      angleDownIcon: faAngleDown
    };
  },
  mounted() {
    window.scrollTo({ top: 0 });
  },
  methods: {
    displayExplanation() {
      const explanation = document.querySelector('#explanation');
      const navbarPadding = 80;
      const headerPadding = 140;
      window.scrollTo({ top: explanation.offsetTop - navbarPadding - headerPadding, behavior: 'smooth' });
    }
  }
};
</script>

<style lang="scss">
@import "../../assets/scss/colors";
@import "../../assets/scss/buttons";
@import "../../assets/scss/zones";

.navbar-expand .navbar-nav .nav-link{
  padding-left:1rem !important;
}

.principles-header {
  .principles-navbar {
    align-items: center;
    padding-left: 35px;
    .principle-back-link {
      color: $neutral-grey;
    }
  
    .principle-title {
      color: $dark-grey;
      font-weight: 700;
      font-size: 2rem;

    }
  }
}

.principle-content {
  .not-play-yet-banner {
    background-color: #004180;
    padding: 1rem 0.5rem 1rem 1rem;

    @media screen and (max-width: 650px) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 0.7rem;
    }

    .not-play-yet {
      margin-top: auto 30px auto 0;
      color: white;
    }

    #gameBtn {
      min-width: 155px;
      @extend %action-button;
      display: inline-block;
      margin: 0 0 0 20px;

      i {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 1rem;
      }

      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }

  .intro {
    padding: 1rem;
    padding-left:35px;
    margin-top: 1rem;
    margin-bottom:1rem;
    border-radius: 10px;
    color: $dark-grey;
    background-color: white;
    max-width: 800px;
    .quote {
    font-style: italic;
    margin-bottom:0;
    }
  }

  .theory-container {
    margin-bottom: 30px;
    padding-left:20px;
  }

  .section-titles {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: $dark-grey;
    font-size: 1.1em;
  }
  .section-highlight{
    background-color: whitesmoke;
    padding:20px;
  }


  .details-section,
.examples-section {
  padding-bottom: 30px;
  color: $dark-grey;
  padding-right: 10px;
  .section-title {
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 500;
    // color: $neutral-gre;
    font-size: 1.3em;
  }
  .list{
    padding-left: 30px;
  }
}

  .illustration-container {
    background-color: #cdcdcd;
    padding-top: 20px;
    border-radius: 4px;
    padding-bottom: 20px;

    @media screen and (max-width: 576px) {
      border-radius: 0;
    }

    .illustration {
      background-color: white;
      border-radius: 4px;
      color: $dark-grey;
      padding: 20px;
      margin-bottom: 10px;

      label {
        font-size: 14px;
      }
    }
  }
}
.explanation-text {
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 20px;
}
.valid-icon {
  color: green;
  margin: 0 10px 0 10px;
}
.invalid-icon {
  color: red;
  margin: 0 10px 0 10px;
}
.principle-game {
  @extend %third-zone;
  padding-top: 20px;

  #gameExplanationLink {
    text-decoration: none;
    color: white;
    border-color: transparent;
    margin-bottom: 20px;
    background-color:#004180;
    border-radius:50px;
    &:hover {
      font-weight: 500;
    }
    &:focus {
      border-color: transparent;
      outline: dotted currentColor 1px !important;
    }
    &.collapsed > .when-opened,
    &:not(.collapsed) > .when-closed {
      display: none;
    }
  }

  .explanation {
/*    margin-left:0;
*/    ul {
      margin-top: 5px;
      font-size: 0.95rem;
    }
  }

  .legend {
    margin: 5px 0 20px 0;
  }
  .img-exemple {
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
  }
  .pt-3 {
    text-align: right;
    margin-bottom: 35px;
    #nextGameBtn {
      @extend %action-button;
      display: inline;
      i {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
  .reference {
    padding: 20px;
    margin: 20px 0 20px 0;
    font-style: italic;
    font-size: 90%;
    background-color: whitesmoke;
    color: $dark-grey;
  }
}

.footer {
  width:100%;
  background-color: $neutral-blue;
  color: white;
  a {
    color: white;
    &:hover,
    &:focus {
      color: white;
    }
  }
  .tell-us {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    svg {
      margin: 0;
    }
  }
}

.illustration-container{
  margin-bottom: 10px;
}

.row-margin{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.closing {
  font-weight: bold;
}
@media screen and (max-width: 770px) {
.principles-header .principles-navbar .principle-title {
    font-size: 1rem;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 0.8rem;
  }
    .navbar{
    padding-right:0.5rem !important;
  }
   .principle-content .intro, .principle-content .details-section .list, .principle-game .explanation ul, .reference ul, .navbar-expand .navbar-nav .nav-link, .principle-content .examples-section .list, ul{
    padding-left: 15px;
  }
    .principle-content .theory-container, .principles-header .principles-navbar {
    padding-left: 0;
  }
}
@media screen and (max-width: 420px) {
  .img-exemple {
    width: 234px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-brand{
    margin-right: 0;
  }
  .principle-game .legend {
  margin: 5px 0 0 0;
  }
  .principles-navbar .principle-back-link {
    margin-right: 0.5rem !important;
  }
  .principles-header .principles-navbar .principle-title {
    font-size: 0.9rem;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 0.65rem;
  }
}

</style>
