<template>
  <b-btn v-b-popover:main-content.click.blur="clue" size="sm" variant="outline-secondary" class="clue-button">
    <font-awesome-icon :icon="clueIcon" /> <span class="d-none d-md-inline"> Tricher </span>
  </b-btn>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faUserSecret } from '@fortawesome/free-solid-svg-icons';

export default {
  props: {
    clue: String,
  },
  components: {
    FontAwesomeIcon,
  },
  computed: {
    clueIcon() {
      return faUserSecret;
    }
  }
}
</script>

<style lang="scss">
.clue-button {
  svg {
    margin-top: 7px !important;
  }
}
.popover {
  z-index: 1 !important;
}
</style>

