<template>
  <game-container ref="container">
    <template slot="result">
      <charade-result :step="step" :next="step === 1 ? nextStep : principle" :retry="replay" :success="success"></charade-result>
    </template>
    <b-container>
      <div class="text-center title">
        <h1 v-if="step === 1">Quelle est la date de naissance de Nestor&nbsp;?</h1>
        <h1 v-if="step === 2">Quelle est la date d'exil de Nestor&nbsp;?</h1>
      </div>
      <b-card class="sentences">
        <sentence v-for="sentence in sentences[step]" :key="sentence.sentence" :clue="sentence.clue">{{ sentence.sentence }}</sentence>
        <hr>
        <form v-on:submit.prevent="submit">
          <b-input-group>
            <b-col sm="8" cols="12" class="answer">
          <label v-if="step === 2" for="answer">Quelle est la date d'exil de Nestor&nbsp;? (jj.mm.aaaa)</label>
          </b-col>
          <b-col sm="8" cols="12" class="answer">
              <b-form-input
                id="answer"
                type="text"
                name="answer"
                aria-describedby="inputLiveFeedback"
                v-model="answer"
                placeholder="Saisissez votre réponse"
                :state="step === 2 && error ? false : undefined"
              />
              <b-form-invalid-feedback id="inputLiveFeedback" v-if="error != null" :force-show="step === 2 && error ? true : false">
              <!-- This will only be shown if the preceeding input has an invalid state -->
              {{ error }}
              </b-form-invalid-feedback>
            </b-col>
            <b-col sm="4" cols="12" class="answer">
              <b-input-group-append>
                <b-button type="submit" class="btn_jeux">
                  Vérifier
                </b-button>
              </b-input-group-append>
            </b-col> 
          </b-input-group>
        </form>
      </b-card>
    </b-container>
  </game-container>
</template>

<script>
import GameContainer from "../GameContainer.vue";
import CharadeResult from "./Result.vue";
import Sentence from "./Sentence.vue";

const dateRegex = /^(0[1-9]|[12]\d|3[01])\.(0[1-9]|1[0-2])\.([12]\d{3})$/;

const sentences = {
  1: [
    { sentence: "Mon premier est la boisson issue du raisin.", clue: "Vin" },
    {
      sentence: "Mon second est l'objet caché dans la galette des rois.",
      clue: "Fève"
    },
    {
      sentence: "Mon troisième est une céréale cultivée en Asie.",
      clue: "Riz"
    },
    {
      sentence:
        "Mon quatrième est une clôture végétale servant à limiter un jardin.",
      clue: "Haie"
    },
    { sentence: "Mon cinquième porte malheur.", clue: "13" },
    { sentence: 'Mon sixième est le contraire d\'"avec".', clue: "Sans" },
    { sentence: "Mon septième est l'âge maudit des rockeurs.", clue: "27" },
    { sentence: "Mon tout est la date de naissance de Nestor.", clue: null }
  ],
  2: [
    {
      sentence:
        "Mon premier est le nom d'une ville dont vient le fameux cheval utilisé par Ulysse.",
      clue: "Troie"
    },
    {
      sentence: "Mon second est le nom du dieu romain de la guerre.",
      clue: "Mars"
    },
    {
      sentence:
        "Mon troisième est le premier mot du célèbre juron du capitaine Haddock.",
      clue: "Mille"
    },
    {
      sentence:
        "Mon quatrième est l'adverbe désignant un objet acheté dans un magasin.",
      clue: "Neuf"
    },
    {
      sentence:
        "Mon cinquième est le liquide rouge qui coule dans notre corps.",
      clue: "Sang"
    },
    {
      sentence:
        "Mon sixième est le nom de la route emblématique de l’ouest sauvage américain.",
      clue: "66"
    },
    { sentence: "Mon tout est la date d'exil de Nestor.", clue: null }
  ]
};

export default {
  name: "Charade",
  components: {
    GameContainer,
    CharadeResult,
    Sentence
  },
  computed: {
    success() {
      return (
        (this.step === 1 && this.answer === "20.02.1327") ||
        this.answer === "03.03.1966"
      );
    },
  },
  methods: {
    submit() {
      this.error = null;
      if (this.step === 1 || this.success || dateRegex.test(this.answer)) {
        this.$refs.container.showResult();
      } else {
        this.error = `La réponse doit être au format jj.mm.aaaa, 20.12.2012 pour le 20 décembre 2012 par exemple`;
      }
    },
    nextStep() {
      this.replay();
      setTimeout(() => this.step++);
    },
    principle() {
      this.$router.push("/principles/error-handling");
    },
    replay() {
      this.$refs.container.hideResult();
      window.scrollTo({ top: 0 });
      this.answer = '';
    },
  },
  data() {
    return { answer: '', step: 1, error: null, sentences, isGoingToNextStep: false };
  },
  mounted() {
    window.scrollTo({ top: 0 });
  }
};
</script>

<style lang="scss" scoped>
@import "../../../assets/scss/colors";
@import "../../../assets/scss/buttons";
.title {
  padding-top: 50px;
 } 
.sentences {
  margin-bottom: 30px;
}
.card-body{
  padding-top: 0;
}
form {
  padding-top: 0;
  margin-bottom: 20px;
  button[type="submit"] {
    @extend %action-button;
    width: auto;
    min-width: 150px;
    margin-top: 0;
    border-radius: 4px;
  }
  #answer{
    height: 48px;
  }
}
.answer{
  margin-top:1rem;
}
h1{
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 480px) {
  h1 {
      font-size: 1.5rem;
  }
}
</style>
