<template>
  <div>
    <div class="row content justify-content-center m-auto" v-if="this.success">
      <div>
        <h1>Super&nbsp;!</h1>
        <h2>Tu as trouvé la bonne réponse.</h2>
        <div v-if="step===1">
          <p>
            Essaye le jeu suivant avant de découvrir le principe qui se cache derrière.
          </p>
          <p>A toi de jouer&nbsp;!</p>
          <b-btn @click="next" class="primary-btn">Jouer</b-btn>
        </div>
        <div v-if="step===2">
          <p>
            Découvre le principe qui se cache derrière.
          </p>
          <b-row>
            <b-col sm>
              <b-btn @click="retry" class="retry-btn">Réessayer à l'identique</b-btn>
            </b-col>
            <b-col sm>
              <b-btn @click="next" class="primary-btn">Voir le principe</b-btn>
            </b-col>
        </b-row>
          
        </div>
      </div>
    </div>
    <div class="row content justify-content-center m-auto" v-else>
      <div>
        <h1>Perdu&nbsp;!</h1>
        <h2>Ce n'est pas la bonne réponse.</h2>
        <div v-if="step===1">
          <p>Tant pis pour toi.</p>
          <b-btn @click="next" class="primary-btn">Tester une autre charade</b-btn>
        </div>
        <div v-else>
          <p>Tu peux retenter ta chance ou découvrir le principe qui se cache derrière.</p>
          <b-row>
            <b-col sm>
              <b-btn @click="retry" class="retry-btn">Réessayer à l'identique</b-btn>
            </b-col>
            <b-col sm>
              <b-btn @click="next" class="primary-btn">Voir le principe</b-btn>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    success: Boolean,
    next: Function,
    step: Number,
    retry: Function,
  },
};
</script>
