<template>
  <div class="row content justify-content-center m-auto">
    <div class="texte col-xs-12 col-md-6">
      <h1>Huuum Charade&nbsp;!</h1>
      <h2>Connais-tu bien Nestor&nbsp;?</h2>
      <p>
        Résous les charades pour le découvrir.
      </p>
      <div class="text-center col-xs-12 col-md-10">
        <p>À toi de jouer&nbsp;!</p>
        <b-btn @click="play" class="primary-btn">Jouer</b-btn>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 text-center rule-img">
      <img src="../../../assets/img/tortue.png" height=250 alt=""/>
    </div>
  </div>
</template>
<script>
export default {
  name: "CatchThemAllRule",
  methods: {
    play() {
      this.$router.push("/game/charade");
    }
  }
};
</script>

<style lang="scss">
.rule-img {
  @media screen and (max-width: 576px) {
    padding-top: 3rem;
  }
}
</style>

