<template>
  <div>
    <div class="row content justify-content-center m-auto rule-title">
      <h1>À vous les pizzas&nbsp;!</h1>
      <h2>Aide Meiko à gagner le concours de pizzaïolo&nbsp;!</h2>
    </div>
    <div class="row content m-auto rule-content">  
      <p>
        Le gagnant est celui qui réussira la recette le plus rapidement possible.
      </p>
      <p>
        Clique sur une des cases adjacentes à Meiko pour le déplacer de case en case afin de récupérer les ingrédients.
        Clique sur un élément lorsqu’il se trouve à proximité pour l’attraper ou effectuer une action dessus.
      </p>
      <p>
        Attention au chronomètre, tu ne voudrais pas terminer dernier&nbsp;!
      </p>
      <b-row class="align-items-center w-100">
        <div class="col-xs-12 col-md-6 text-center rule-illustration">
          <img src="@/assets/img/rule-pizza.png" height=200 alt=""/>
        </div>
        <div class="texte col-xs-12 col-md-6">
          <b-btn
            v-if="launchTicks > 0"
            variant="primary"
            disabled
            class="primary-btn"
          >
            Début dans... {{launchTicks}}
          </b-btn>
          <b-btn
            v-else
            variant="primary"
            @click="play"
            class="primary-btn"
          >
            Jouer
          </b-btn>
        </div>
      </b-row >
    </div>
  </div>
</template>






<script>
export default {

  data () {
    return {
      launchTicks: 0,
    };
  },

  methods: {
    play() {
      this.launchTicks = 3
      this.launchInterval = setInterval(() => {
        this.launchTicks = this.launchTicks - 1;
        if (this.launchTicks === 0) {
          clearInterval(this.launchInterval);
          this.$router.push('/game/pizzas');
        }
      }, 1000);
    },
  },

};
</script>

<style scoped>
  .rule-illustration {
    padding-top:20px;
  }
</style>
