<template>
  <game-container ref="container">
    <b-modal ref="result" class="quiz-modal" centered hide-footer hide-header no-fade no-close-on-backdrop no-close-on-esc>
      <quiz-result
          :correctAnswer="this.correctAnswer"
          :principle="this.questions[indexExemple].answer"
          :imgAnswer="this.questions[indexExemple].imgAnswer"
          :details="this.questions[indexExemple].details"
          :replay="this.hideResult"
          :next="this.next"
          :score="this.score"
          :nbQuestions="this.questions.length"
          :end="this.end"
        />  
      </b-modal>
      <div slot="header" class="head-title m-auto">
        <p>Quel principe est enfreint ici&nbsp;?</p>
        <p class="ml-4">{{ Number(indexExemple) + 1 }}/{{ questions.length }}</p>
      </div>
  <div class="principles">
    <div class="m-4">
      <b-container>
        <b-row class="mb-3">
          <p class="m-auto"><b>Contexte&nbsp;</b>: {{ this.questions[indexExemple].context }}</p>
        </b-row>
        <b-row>
          <img class="img-jeux m-auto" :src="questions[indexExemple].img" alt="homogénéité" />
        </b-row>
      </b-container>
    </div>
    <div class="list">
      <div class="container-answer">
        <b-row>
         <b-col class="element" lg="4" md="4" sm="6" v-for="principle in principles" :key="principle.name">
            <b-button @click="() => handleResponse(principle.name, questions[indexExemple].answer)" class="btn-answer m-auto">
              <center><img :src="principle.img" :alt="principle.imgAlt"/></center>
              <p>{{ principle.name }}</p>
            </b-button>
          </b-col>
        </b-row>
      </div>
    </div>
    <main role="main">
      <router-view/>
      <credits></credits>
    </main>
  </div>
  </game-container>

</template>
  
<script>
import HomeHeader from '../Header.vue';
import Credits from '../Credits.vue';
import minimumActionsImg from '../../assets/img/ico_bouton_jeu_3.png';
import homogeneityImg from '../../assets/img/poule.png';
import errorHandlingImg from '../../assets/img/tortue.png';
import hickImg from '../../assets/img/souris.png';
import FittsImg from '../../assets/img/poulpe/poulpy.svg';
import GameContainer from "../games/GameContainer.vue";
import QuizResult from "./Result.vue";
import Q1Bad from '../../assets/img/quiz/action-minimale-1-bad.png';
import Q2Bad from '../../assets/img/quiz/fitts-1-bad.png';
import Q3Bad from '../../assets/img/quiz/homogeneite-bad.png';
import Q4Bad from '../../assets/img/quiz/action-minimale-2-bad.png';
import Q1Good from '../../assets/img/quiz/action-minimale-1-good.png';
import Q2Good from '../../assets/img/quiz/fitts-1-good.png';
import Q3Good from '../../assets/img/quiz/homogeneite-good.png';
import Q4Good from '../../assets/img/quiz/action-minimale-2-good.png';

export default {
  components: {
    HomeHeader,
    Credits,
    GameContainer,
    QuizResult,
  },
  data: () => ({
    principles: [
      { name: 'Homogénéité', page: '/principles/homogeneity', img: homogeneityImg, imgAlt: 'afficher le détail du principe Homogénéité' },
      { name: 'Gestion des erreurs', page: '/principles/error-handling', img: errorHandlingImg, imgAlt: 'afficher le détail du principe Gestion des erreurs' },
      { name: 'Loi de Hick', page: '/principles/hick', img: hickImg, imgAlt: 'afficher le détail du principe Loi de Hick' },
      { name: 'Actions minimales', page: '/principles/minimum-actions', img: minimumActionsImg, imgAlt: 'afficher le détail du principe Actions minimales' },
      { name: 'Loi de Fitts', page: '/principles/fitts', img: FittsImg, imgAlt: 'afficher le détail du principe Loi de Fitts' },  
    ],
    questions: [
      { index: 0, img: Q1Bad, context: 'Formulaire d\'inscription à un centre de loisirs', answer: 'Actions minimales', details: 'En effet, demander la date de la naissance puis la tranche d\'âge est redondant, la seconde pouvant être déduite de la 1ère.', imgAnswer: Q1Good },
      { index: 1, img: Q2Bad, context: 'Sur un outil de ticketing, ceci est la page sur laquelle on atterrit lorsqu\'une personne nous partage un tableau kanban nouvellement créé', answer: 'Loi de Fitts', details: 'En effet, le seul bouton utile est dans un coin, il devrait être gros et central pour être facile d\'accès.\nUne autre principe important est enfreint ici (pas encore illustré dans les Ergogames) : le principe d\'affordance. Un élément cliquable doit suggérer son utilisation, un bouton doit ressembler visiblement à un bouton. Ici, avec un label gris sur un fond gris, le bouton est très peu visible, et ne saute pas aux yeux des utilisateurs.', imgAnswer: Q2Good  },
      { index: 2, img: Q3Bad, context: 'Questionnaire de satisfaction après un voyage en train, avec deux pages successives posant deux questions distinctes', answer: 'Homogénéité', details: 'En effet, sur la 1ère page, le choix est fait d\'avoir une échelle d\'évaluation de la note la plus mauvaise à la note la meilleure. Ce choix respecte les conventions, et est donc tout à fait recommandé. En revanche, sur la 2ème page, l\'échelle est inversée, affichant à gauche la réponse la plus positive et à droite la réponse la plus négative. Ce changement peut perturber les utilisateurs, et même générer des erreurs de réponse par des personnes qui cliqueraient trop vite sans détailler les pictogrammes et les libellés, partant du principe que les 4 boutons sont 4 choix rangés dans le même ordre que sur la 1ère page.', imgAnswer: Q3Good  },
      { index: 3, img: Q4Bad, context: 'Espace d\'administration d\'un outil permettant de construire des questionnaires en ligne', answer: 'Actions minimales', details: 'En effet, il est beaucoup plus efficace de faire apparaître un lien vers la page permettant d\'exporter les données plutôt que d\'indiquer à l\'utilisateur comment se rendre dans cet espace. L\'utilisateur gagne ainsi du temps de recherche, et réduit sa charge de travail en n\'ayant pas besoin de mémoriser les étapes de navigation nécessaires.', imgAnswer: Q4Good  },
    ],
    correctAnswer: false,
    score: 0,
    end: false
  }),
  computed: {
    indexExemple() {
      return this.$route.params.id;
    }
  },
  methods: {
    handleResponse(answer, solution) {
      if (answer === solution) {
        this.score += 1;
      }
      this.correctAnswer = answer === solution;
      document.activeElement.blur();
      this.$refs.result.show();
    },
    replay() {
      this.$refs.result.hide();
    },
    hideResult() {
      this.$refs.result.hide();
    },
    next() {
      const nextIndex = Number(this.$route.params.id) + 1;
      if (this.questions[nextIndex]) {
        this.$refs.result.hide();
        this.$router.push("/Quiz/" + nextIndex);
      } else {
        this.end = true;
      }
    }
  }
}


</script>

<style lang="scss">
   @import '../../assets/scss/colors';

   .container-answer {
    max-width: 850px !important;
    justify-content: center;
    padding-inline: 10px;
    margin: auto;
   }

  .btn-answer {
    transition: all 0.5s !important;
    display: flex !important;
    justify-content: center;
    align-items: baseline;
    width: 240px;
    border-radius: 10px !important;
    background-color: white !important;
    &:hover {
      width: 230px;
      background-color: $neutral-yellow !important;
    }
    p {
      color: black;
      font-weight: 600;
    }
    img{
      margin-right: 7px;
      height: 40px;
    }
  }

  .img-jeux {
    background-color: white;
    border-radius: 10px;
    @media screen and (max-width: 1150px) {
      width: 100%;
    }
    @media screen and (min-width: 1151px) {
      height: 550px;
    }
  }

  .divider {
    background: white;
  }

  .head-title {
    @media screen and (max-width: 576px) {
      font-size: 0.9rem !important;
      width: 75% !important;
      margin: 0px !important;
    }
    @media screen and (max-width: 1000px) {
      font-size: 1.1rem;
      width: 50%;
    }
    display: flex;
    justify-content: space-between;
    width: 40%;
    p {
      margin: 0;
    }
  }
</style>
  