<template>
  <div v-if="!this.end">
    <div class="row content justify-content-center m-auto">
      <div>
        <h1>{{ resultMessage(this.principle) }}</h1>
        <p class="details">{{ this.details }}</p>
        <h3>Voici une version plus ergonomique&nbsp;:</h3>
        <b-row class="img-modal">
          <img class="imgSolution" :src="this.imgAnswer" :alt="this.principle"/>
        </b-row>
        <b-row>
          <b-col sm>
            <b-btn @click="next" class="primary-btn">Suivant</b-btn>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="row content justify-content-center m-auto">
      <div>
        <h1>{{ this.endTitleMessage(this.score) }}</h1>
        <h3>{{ `Tu as obtenu un score de ${this.score}/${this.nbQuestions}` }}</h3>
        <b-row class="action-row">
          <b-col sm>
            <b-btn @click="home" class="retry-btn">Retour aux jeux</b-btn>
          </b-col>
          <b-col sm>
            <b-btn @click="principles" class="retry-btn">Relire les explications des principes</b-btn>
          </b-col>
          <b-col sm>
            <b-btn @click="projet" class="retry-btn">En savoir plus sur les ergogames</b-btn>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>
<script>


export default {
  name: "QuizResult",
  props: {
    correctAnswer: Boolean,
    principle: String,
    imgAnswer: String,
    details: String,
    replay: Function,
    next: Function,
    score: Number,
    nbQuestions: Number,
    end: Boolean
  },
  methods:{
    resultMessage(principle) {
      // si le principle commence par une voyelle ou un "h" on met "d'", sinon "de"
      const lowerCasePrinciple = principle.toLowerCase();
      let principeNameGroup = /^[aeiouh]/.test(lowerCasePrinciple) ? "le principe d'" + lowerCasePrinciple : "le principe de " + lowerCasePrinciple;
      if (principle.includes('Hick')) {
        principeNameGroup = "la loi de Hick"
      } else if (principle.includes('Fitts')) {
        principeNameGroup = "la loi de Fitts"
      }
      if (this.correctAnswer) {
        return "Bien joué, c'était bien " + principeNameGroup + " !";
      }
      return "Et non, c'était surtout " + principeNameGroup + " !";
    },
    endTitleMessage(score) {
      if (score > 2) {
        return "Bravo !";
      } else if (score < 2) {
        return "Bon... et si on rejouait ?";
      }
      return "Pas mal !";
    },
    home() {
      this.$router.push('/')
    },
    principles() {
      this.$router.push("/principles");
    },
    projet() {
      this.$router.push("/projet");
    }
  }
};
</script>

<style lang="scss">

.imgSolution {
  max-width: 100% !important;
}

.img-modal {
  justify-content: center;
  overflow: auto;
}

.action-row {
  align-items: center;
}

.details {
  white-space: pre-wrap;
}

</style>