<template>
    <div>
      <div class="row content justify-content-center m-auto rule-title">
        <h1>
          Vérifie que tu as bien compris grâce à ce quiz&nbsp;!
        </h1>
      </div>
      <div class="row content m-auto rule-content">
        <h2>
            Regarde bien chaque capture d'écran pour trouver le principe qui est enfreint.
        </h2>
        <p class="mobile-only">
            L'expérience est meilleure sur desktop, n'hésite pas à zoomer sur les images !
        </p>
        <b-row class="m-auto">
            <b-btn @click="play" class="primary-btn">C'est parti !</b-btn>
        </b-row >
      </div>
    </div>
  </template>
  <script>
  export default {
    name: "QuizRule",
    methods: {
      play() {
        this.$router.push("/quiz/0");
      },
    },
  };
  </script>
  <style lang="scss">
  .poulpe-rule-img {
    width: 100%;
  }
  
  .modal-dialog .modal-body .content.rule-content{
    padding-top:0;
  }

  .mobile-only {
    @media screen and (min-width: 700px) {
        display: none;
    }
  }
  </style>
  