<template>
  <div>
    <!-- ROUND 1 -->
    <div v-if="round === 1" class="row content justify-content-center m-auto">
      <div>
        <h1>{{ (isSuccess) ? "Bravo&nbsp;!" : "Ouch&nbsp;!" }}</h1>
        <h2>Il t'a fallu {{ formatTime(this.timeCurrentRound) }} pour sauver les 10 amis de Colin.</h2>
        <p>
          J’espère qu’ils n’auront pas trop souffert de leur séjour dans ces eaux douteuses...
          <br />Si tu le souhaites, tu peux réessayer avant de passer à la suite.
        </p>
        <p>
          Eh oui, Colin a 10 autres amis plus loin dans la mer !
          <br />Tu veux bien l'aider à nouveau&nbsp;?
        </p>
        <b-row>
          <b-col sm>
            <b-btn @click="replay" class="retry-btn">Réessayer à l'identique</b-btn>
          </b-col>
          <b-col sm>
            <b-btn @click="nextRound" class="primary-btn">Sauver les autres amis</b-btn>
          </b-col>
        </b-row>
      </div>
    </div>
    <!-- ROUND 2 -->
    <div v-else class="row content justify-content-center m-auto">
      <div>
        <h1>{{ (isSuccess) ? "Bravo&nbsp;!" : "Ouch&nbsp;!" }}</h1>
        <h2>Il t'a fallu {{ formatTime(this.timeCurrentRound) }} pour sauver les 10 amis de Colin.</h2>
        <p v-if="isSuccess">
          Il t'avait fallu {{ formatTime(this.timeRoundOne) }} pour sauver les 10 amis du 1er groupe.
          <br />Colin est ravi et ses amis n'ont pas souffert&nbsp;!
          <br />Découvre maintenant le principe d'ergonomie qui se cache derrière.
        </p>
        <p v-else>
          J’espère qu’ils n’auront pas trop souffert de leur séjour dans ces eaux douteuses...
          <br />Découvre maintenant le principe d'ergonomie qui se cache derrière.
        </p>
        <b-row>
          <b-col sm>
            <b-btn @click="replay" class="retry-btn">Réessayer à l'identique</b-btn>
          </b-col>
          <b-col sm>
            <b-btn @click="goToPrinciple" class="primary-btn">Voir le principe</b-btn>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "PoulpeResult",
  props: {
    round: Number,
    timeRoundOne: Number, // in seconds
    timeCurrentRound: Number, // in seconds
    replay: Function,
    nextRound: Function,
  },
  methods: {
    goToPrinciple() {
      this.$router.push("/principles/fitts");
    },
    formatTime(timeInSeconds) {
      const minutes = Math.floor(timeInSeconds / 60);
      const seconds = timeInSeconds % 60;
      const minutesLabel =
        minutes > 1 ? `${minutes} minutes` : `${minutes} minute`;
      const secondsLabel =
        seconds > 1 ? `${seconds} secondes` : `${seconds} seconde`;

      return minutes === 0
        ? secondsLabel
        : `${minutesLabel} et ${secondsLabel}`;
    },
  },
  computed: {
    isSuccess() {
      return this.timeCurrentRound < this.timeRoundOne;
    },
  },
};
</script>
