<template>
  <b-navbar id="ergogames-navbar" class="header shadow" sticky="top" toggleable="sm">  
    <b-navbar-brand href="/#home" class="logo text-center ml-3">
      <div class="logo_first_line">Les</div>
      <div class="logo_second_line">Ergogames&nbsp;!</div>
    </b-navbar-brand>
    <b-navbar-toggle id="toggle" target="nav-collapse" >
      <span> Menu </span>
    </b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="ml-auto">
        <router-link to="/#home" class="header-item mr-1">Jeux</router-link>
        <router-link to="/principles" class="header-item mr-1">Principes</router-link>
        <router-link to="/projet" class="header-item mr-1">Projet</router-link>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>


<style lang="scss">
@import "../assets/scss/colors.scss";

#toggle {
  font-size: 1rem;
  font-weight: 500;
  color: #515254;
  border-color: $neutral-yellow;
  border-width: 0.1em;
  margin-right: 25px;
  &:focus{
    border-color: $neutral-yellow ;
  }
  &:hover {
    background-color: $neutral-yellow ;
  }
}
.header {
  background-color: white;
  &.header-minised {
    padding: 0.5rem 0 !important;
  }
  .logo {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    
  .logo_first_line, .logo_second_line {
    background: linear-gradient(90deg, $neutral-blue 1%, $light-blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    .logo_first_line {
      font-size: 0.55em;
      margin-bottom: -10px;
      @media screen and (max-width: 575px) {
        margin-bottom: -8px;
      }
    }
    .logo_second_line {
      text-transform: uppercase;
      font-size: 1em;
      @media screen and (max-width: 575px) {
        font-size: 0.95em;
      }
    }
  }
  
  .header-item {
    text-align: end;
    font-weight: 700;
    color: #515254;
    padding-right: 25px;
    line-height: 2;
    &.router-link-active {
      text-decoration: underline;
      text-decoration-color: $dark-blue;
      color: $dark-blue;
    }
  }
}


</style>
