<template>
  <div class="row content justify-content-center m-auto">
    <h1>Attrapez les tous&nbsp;!</h1>
    <p>
      <b>Aide Rosalyne à retrouver ses œufs...</b> Rosalyne a perdu ses 10 œufs au milieu de ceux de ses sœurettes&nbsp;!
    </p>
    <p class="bold">Signe distinctif&nbsp;: ils ont tous un chapeau.</p>
    <p>Clique sur un œuf pour l'attraper. Tu as 10 secondes pour ramasser les 10 œufs de Rosalyne. Attention toutefois à ne pas kidnapper les œufs de ses sœurettes&nbsp;!</p>
    <div class="col-xs-12 col-md-6 text-center">
      <img src="../../../assets/img/rule-chapeau.png" alt=""/>
    </div>
    <div class="texte col-xs-12 col-md-6">
      <p>À toi de jouer&nbsp;! Prêt, feu, partez&nbsp;! </p>
      <b-btn v-if="!this.launch" @click="play" class="primary-btn">Jouer</b-btn>
      <b-btn disabled v-if="this.launch" @click="play" class="primary-btn">Début dans... {{this.ticks}}</b-btn>
    </div>
  </div>
</template>
<script>
export default {
  name: "CatchThemAllRule",
  data() {
    return {
      ticks: 3,
      launch: false
    };
  },
  methods: {
    play() {
      this.launch = true;
      setTimeout(
        () =>
          (this.ticks-- && this.play()) ||
          this.$router.push("/game/catch-them-all"),
        1000
      );
      return this.ticks > 0;
    }
  }
};
</script>
