<template>
  <div id="games" class="container-fluid home_zone_2">
    <closable-modal ref="catchThemAll">
      <catch-them-all-rule></catch-them-all-rule>
    </closable-modal>

    <closable-modal ref="charade">
      <charade-rule></charade-rule>
    </closable-modal>

    <closable-modal ref="Cherry">
      <cherry-rule></cherry-rule>
    </closable-modal>

    <closable-modal ref="pizzas">
      <pizzas-rule></pizzas-rule>
    </closable-modal>

    <closable-modal ref="poulpe">
      <poulpe-rule></poulpe-rule>
    </closable-modal>

    <closable-modal ref="quiz">
      <quiz-rule></quiz-rule>
    </closable-modal>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-10">
          <p>
            Les ergonomes de Sogilis vous proposent des petits jeux démontrant des principes d'ergonomie.<br><br>
            Chaque jeu est composé de 2 versions&nbsp;: l'une respecte le principe tandis que l'autre le transgresse. <br>Après avoir joué les 2 versions, le principe vous sera expliqué.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 pt-5">
          <b-button @click="() => showModal('catchThemAll')" class="btn-jeux m-auto">
            <p class="num-game"> Jeu 1</p>
            <center><img src="../../assets/img/poule.png" height=120 alt="jouer au jeu Attrapez-les tous" /></center>
            <p>Attrapez les tous&nbsp;!</p>
          </b-button>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 pt-5">
          <b-button @click="() => showModal('charade')" class="btn-jeux m-auto">
            <p class="num-game"> Jeu 2</p>
            <center><img src="../../assets/img/tortue.png" height=120 alt="jouer au jeu Huuum charade" /></center>
            <p>Huuum Charade&nbsp;!</p>
          </b-button>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-4 pt-5">
          <b-button @click="() => showModal('Cherry')" class="btn-jeux m-auto">
            <p class="num-game"> Jeu 3</p>
            <center><img class="img-btn-jeux" src="../../assets/img/souris.png" height=120 alt="jouer au jeu La cerise sur le gâteau" /></center>
            <p>La cerise sur le gâteau&nbsp;!</p>
          </b-button>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-4 pt-5">
          <b-button @click="() => showModal('pizzas')" class="btn-jeux m-auto">
            <p class="num-game"> Jeu 4</p>
            <center><img src="@/assets/img/ico_bouton_jeu_3.png" alt="jouer au jeu À vous les pizzas !" /></center>
            <p>À vous les pizzas&nbsp;!</p>
        </b-button>
        </div>

       <div class="col-sm-6 col-md-4 col-lg-4 pt-5">
          <b-button @click="() => showModal('poulpe')" class="btn-jeux m-auto">
            <p class="num-game"> Jeu 5</p>
            <center><img src="@/assets/img/poulpe/poulpy.svg" alt="jouer au jeu Sauve qui peut !" /></center>
            <p>Sauve qui peut&nbsp;!</p>
        </b-button>
        </div>

      </div>
    </div>
    <div class="container">
      <hr class="divider"/>
      <div class="row justify-content-center">
        <h3>
          J'ai tout compris, je me teste !
        </h3>
      </div>
      <b-btn @click="() => showModal('quiz')" class="btn-quiz">Quiz</b-btn>
    </div>
  </div>
</template>

<script>
import ClosableModal from '../games/ClosableModal.vue';
import CatchThemAllRule from "../games/catchThemAll/Rule.vue";
import CharadeRule from "../games/charade/Rule.vue";
import CherryRule from "../games/CherryOnTheCake/Rule.vue";
import PizzasRule from "@/views/games/pizzas/Rule.vue";
import PoulpeRule from "@/views/games/poulpe/Rule.vue";
import QuizRule from "@/views/Quiz/Rule.vue";

export default {
  components: {
    ClosableModal,
    CatchThemAllRule,
    CharadeRule,
    CherryRule,
    PizzasRule,
    PoulpeRule,
    QuizRule,
  },

  methods: {
    showModal(target) {
      this.$refs[target].show();
    },
  }
};
</script>

<style lang="scss">
@import '../../assets/scss/colors';
@import '../../assets/scss/zones';
@import '../../assets/scss/buttons';
.home_zone_2 {
  @extend %content-zone;
  padding-bottom: 100px;

  .container {
    padding-top: 50px;
    z-index: -2;

    .title_level_3 {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .title_level_3::after {
      background-color: white;
    }

    p {
      text-align: center;
    }
  }

  .btn-quiz {
    @extend %action-button;
    background: white;
    color: black;
    &:hover {
      text-decoration: none;
      font-weight: bold;
      color: black;
      background: #ffce00;
      filter: none !important;
    }
  }

  .divider {
    background: white;
  }

  .btn-jeux {
    width: 240px;
    @extend %content-button;
    &:hover {
      width: 230px;
      &::after {
        content: "";
        background-image: url("../../assets/img/ico_play.svg");
        display: block;
        position: absolute;
        width: 48px;
        height: 57px;
        margin-left: 81px;
        animation: arrive 0.5s forwards;
      }
    }
    img{
     margin-bottom: 7px;
     height: 110px
    }
  }
  .num-game{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 0.9rem;

  }


  @keyframes arrive {
    0% {
      opacity: 0;
      margin-top: -100px;
    }

    100% {
      opacity: 1;
      margin-top: -133px;
    }
  }
}
</style>
