<template>
  <div id="home">
    <home-header></home-header>
    <home-title></home-title>
    <home-games></home-games>
    <main role="main">
      <router-view/>
      <credits></credits>
    </main>
  </div>
</template>

<script>
import HomeHeader from '../Header.vue';
import HomeTitle from './Title.vue';
import HomeGames from './Games.vue';
import Credits from '../Credits.vue'

export default {
  name: "Home",
  components: {
    Credits,
    HomeHeader,
    HomeTitle,
    HomeGames,
  }
};
</script>
